{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
	<div class="container py-4">
		<div class="row">
			<div class="col">
				<h1 class="display-4 mb-4">Shopping Bag</h1>
				<hr class="mb-4">
			</div>
		</div>
		<div class="row">
			<div class="col">
				{% if bag_items %}
				<p class="h3 text-main-color">{{ product_count }} item{{ product_count|pluralize }} in your bag.</p>
					<div class="row">
						<div class="col">
							<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
								{% for item in bag_items %}
									<div class="col">
										<div class="card h-100 shadow">
											<div class="row g-0 h-100">
												<div class="col-md-4">
													{% if item.product.image %}
														<img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid">
													{% else %}
														<img class="img-fluid" src="https://res.cloudinary.com/dcq31wib9/image/upload/v1703947640/noimage_hpttfg.png" alt="{{ item.product.name }}">
													{% endif %}
												</div>
												<div class="col-md-8">
													<div class="card-body d-flex flex-column justify-content-between h-100">
														<div class="text-center">
															<h5 class="card-title h4">{{ item.product.name }} {{ item.size }}cm</h5>
															<p class="card-text h5 mt-3">€{{ item.price }}</p>
														</div>
														<p><span class="text-center d-block h5 mt-4">Additional Toppings</span>{% if item.toppings %}{{ item.toppings }}{% else %}No Additional Toppings{% endif %}</p>
														<div>
														<form class="form update-form mb-2" method="POST" action="{% url 'adjust_bag' item.item_id %}">
															{% csrf_token %}
															<input type="hidden" name="id" value="{{ item.id }}">
															<div class="input-group">
																<button class="btn btn-sm btn-custom rounded-0 decrement-qty change-qty" 
																		data-id="{{ item.id }}" id="decrement-qty_{{ item.id }}">
																	<i class="fas fa-minus"></i>
																</button>
																<input class="form-control form-control-sm qty_input text-center" type="number"
																		name="quantity" value="{{ item.quantity }}" min="1" max="99"
																		data-id="{{ item.id }}"
																		id="id_qty_{{ item.id }}" readonly>
																<button class="btn btn-sm btn-custom rounded-0 increment-qty change-qty"
																		data-id="{{ item.id }}" id="increment-qty_{{ item.id }}">
																	<i class="fas fa-plus"></i>
																</button>
															</div>
														</form>
														<a href="{% url 'remove_from_bag' item.item_id item.id %}" class="btn btn-sm btn-danger bg-red mt-2 w-100">
															<i class="fas fa-trash-alt"></i> Remove
														</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
							<div class="mt-4 d-flex justify-content-between align-items-center">
								<div>
								<p class="h3 text-main-color salsa">€{{ grand_total }}</p>
								<div>
									{% if delivery_cost > 0 %}
										<p class="text-main-color m-0">Pizza Cost: €{{ total }}</p>
										<p class="text-main-color m-0">Delivery Cost: €{{ delivery_cost }}</p>
										<p class="text-main-color m-0">Buy Pizza over €{{ free_delivery_threshold }} to have free delivery</p>
									{% else %}
										<p class="text-main-color">Free Delivery</p>
									{% endif %}
								</div>
								</div>
								<a href="{% url 'checkout' %}" class="btn btn-custom">Checkout</a>
							</div>
						</div>
					</div>
				{% else %}
					<p class="lead mb-5 text-center">Your bag is empty.</p>
					<a href="{% url 'pizza_list' %}" class="btn btn-custom rounded-pill">
						<i class="fas fa-chevron-left mr-2"></i> Keep Shopping
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function handleEnableDisable(id) {
	const inputElement = document.getElementById('id_qty_' + id);
	if (inputElement) {
		const currentValue = parseInt(inputElement.value);
		const minusDisabled = currentValue < 2;
		const plusDisabled = currentValue > 98;
		const decrementButton = document.getElementById('decrement-qty_' + id);
		const incrementButton = document.getElementById('increment-qty_' + id);
		decrementButton.disabled = minusDisabled;
		incrementButton.disabled = plusDisabled;
	} 
}

function debounce(func, delay) {
  let timeoutId;
  return function () {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      func();
    }, delay);
  };
}

document.addEventListener('DOMContentLoaded', () => {
	document.querySelectorAll('.qty_input').forEach(input => {
		const id = input.dataset.id;
		handleEnableDisable(id);

		input.addEventListener('change', function() {
			const id = this.dataset.id;
			handleEnableDisable(id);
		});
	});

	document.querySelectorAll('.increment-qty').forEach(btn => {
		btn.addEventListener('click', function(e) {
			e.preventDefault();
			const id = this.dataset.id;
			const closestInput = this.closest('.input-group').querySelector('.qty_input');
			const form = closestInput.parentNode.parentNode
			if (closestInput) {
				let currentValue = parseInt(closestInput.value);
				closestInput.value = currentValue + 1;
				handleEnableDisable(id);
				debounce(() => {
					form.submit();
				}, 1000)();
			}
		});
	});

	document.querySelectorAll('.decrement-qty').forEach(btn => {
		btn.addEventListener('click', function(e) {
			e.preventDefault();
			const id = this.dataset.id;
			const closestInput = this.closest('.input-group').querySelector('.qty_input');
			const form = closestInput.parentNode.parentNode
			if (closestInput) {
				let currentValue = parseInt(closestInput.value);
				closestInput.value = currentValue - 1;
				handleEnableDisable(id);
				debounce(() => {
					form.submit();
				}, 1000)();
			}
		});
	});
});
</script>
{% endblock %}