@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&family=Salsa&display=swap');

:root {
    /* Color variables */
    --main-color: #00555a;
    --main-bg-color: #d6cccc;
    --overlay-color: rgba(30, 30, 30, 0.3);
    --full-screen-overlay-color: rgba(30, 30, 30, 0.6);
    --dark-color: #000000;
    --light-color: #ffffff;
}


/* common */
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    color: var(--dark-color);
}

h1 {
  font-family: 'Salsa', cursive;
  color: var(--main-color);
}

/* utils */
.overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  background-color: var(--overlay-color);
}

.salsa {
  font-family: 'Salsa', cursive;
}

.text-red {
  color: #800020;
}

.bg-red {
  background-color: #800020;
}

.text-main-color {
  color: var(--main-color);
}

.bg-main-color {
  background-color: var(--main-color);
  color: #ffffff;
}

.main-color {
  background-color: #ffffff;
  color: var(--main-color);
}

.price {
  font-size: 1.7rem;
}

.btn-custom {
  background-color: var(--main-color) !important;
  color: #ffffff !important;
  border-color: var(--main-color) !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-custom:hover {
  opacity: 0.9;
}

.custom-input {
  outline: none !important;
  box-shadow: none !important;
}

.custom-input:focus {
  border-color: var(--main-color) !important;
}

/* header */
header nav .navbar-nav .nav-item a.nav-link {
    color: var(--main-color);
    /* font-weight: 500; */
    font-size: 1.1rem;
}

header nav .navbar-nav .nav-item a.nav-link.active {
  color: #800020;
  font-weight: 600;
}

header nav .navbar-nav .nav-item a.nav-link:hover {
  color: var(--main-color);
  opacity: 0.9;
}

.logo {
  font-family: 'Salsa', cursive;
  color: var(--main-color);
}

/* Main */
main {
    min-height: 90%;
}

.carousel-img {
    font-family: 'Salsa', cursive;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-img-1 {
    background-image: url("https://res.cloudinary.com/dcq31wib9/image/upload/v1702986919/slider_3_t4o5se.webp");
}

.carousel-img-2 {
  background-image: url("https://res.cloudinary.com/dcq31wib9/image/upload/v1702986920/slider_1_d4t7wm.webp");
}

.carousel-img-3 {
  background-image: url("https://res.cloudinary.com/dcq31wib9/image/upload/v1702986920/slider_2_aq9425.webp");
}

.carousel-item {
  position: relative;
}

.carousel-text {
    position: relative;
    text-align: center;
    z-index: 1;
}

.filter-pizza-buttons .btn {
  background: var(--main-color);
}

h2.card-title {
  font-family: 'Salsa', cursive;
  color: var(--main-color);
}

.pizza-card-header:hover {
  opacity: 0.9;
}

.pizza-list-cart {
  width: 30px;
}

.card-footer-cart {
  cursor: pointer;
}

.card-footer-cart:hover {
  opacity: 0.9;
}

.btn-group .btn.btn-outline-primary {
  color: var(--main-color);
  border-color: var(--main-color);
  outline: none;
  box-shadow: none;
}

.btn-group .btn.btn-outline-primary:hover {
  color: #ffffff;
  background-color: var(--main-color);
  opacity: 0.9;
  border-color: var(--main-color);
  outline: none;
  box-shadow: none;
}

.btn-group > .btn-check[type="radio"]:checked + .btn {
  color: #ffffff;
  background-color: var(--main-color);
  box-shadow: none;
  border-color: var(--main-color);
}

.search-pizza {
  position: relative;
}

.search-pizza input {
  padding-right: 110px;
}

.search-pizza button {
  position: absolute;
  right: 0;
  top: 0;
}

.card {
  overflow: hidden;
}

.card-img-top.pizza-image {
  transform: scale(0.98);
}

.page-link {
  color: var(--main-color);
  outline: none;
  box-shadow: none;
}

.page-link:hover {
  color: var(--main-color);
}

.page-item.active .page-link {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: #ffffff;
}

/* Footer */
footer {
    position: relative;
    font-family: serif;
    background: var(--main-color);
  }
  
footer a {
  display: inline-block;
  margin: 2rem;
  width: 2rem;
  height: 2rem;
}

footer a:hover .social-svg {
  fill: rgba(255, 255, 255, 0.7);
}

.social-svg {
  fill: #ffffff;
  width: 100%
}