<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <sup class="navbar-brand" href="#"><u class="logo">SuperPizza</u></sup>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
            <li class="nav-item mx-2">
              <a class="nav-link active" aria-current="page" href="#">Pizza</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link active" aria-current="page" href="#">Tracker</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Orders</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Admin</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>