{% load static %}
<header class="position-fixed w-100 shadow">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <sup class="navbar-brand" href="#"><u class="logo">SuperPizza</u></sup>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-lg-auto mb-2 mb-lg-0 mx-5 text-center">
          <li class="nav-item mx-2">
            <a class="nav-link {% if active_link == 'pizza' %}active{% endif %}" aria-current="page" href="{% url 'pizza_list' %}">Pizza</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link {% if active_link == 'tracker' %}active{% endif %}" aria-current="page" href="{% url 'order_tracker' %}">Tracker</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link {% if active_link == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
          </li>
          {% if request.user.is_authenticated %}
            {% if request.user.is_superuser or is_worker %}
              <li class="nav-item mx-2">
                <a class="nav-link {% if active_link == 'orders' %}active{% endif %}" href="{% url 'orders' 'new' %}">Orders</a>
              </li>
            {% endif %}
            {% if request.user.is_superuser %}
              <li class="nav-item mx-2">
                <a class="nav-link {% if active_link == 'admin' %}active{% endif %}" href="{% url 'admin:index' %}">Admin</a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
        <ul class="navbar-nav text-center">
          {% if request.user.is_authenticated %}
            <li class="nav-item mx-2">
              <a class="nav-link {% if active_link == 'login' %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item mx-2">
              <a class="nav-link {% if active_link == 'login' %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link {% if active_link == 'register' %}active{% endif %}" href="{% url 'account_signup' %}">Register</a>
            </li>
          {% endif %}
          <li class="nav-item mx-3">
            <a class="nav-link {% if active_link == 'bag' %}active{% endif %}" href="{% url 'view_bag' %}">
              {% if bag_items %}€{{ grand_total }}{% endif %}
              <img src="{% static 'svg/cart.svg' %}" alt="cart" width="25px">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>