{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script src="https://kit.fontawesome.com/9bcd47484e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  {% include './includes/nav.html' %}
  {% if messages %}
    <div class="message-container bg-main-color">
      {% for message in messages %}
        {% with message.level as level %}
          {% if level == 40 %}
            {% include './includes/toasts/toast_error.html' %}
          {% elif level == 30 %}
            {% include './includes/toasts/toast_warning.html' %}
          {% elif level == 25 %}
            {% include './includes/toasts/toast_success.html' %}
          {% else %}
            {% include './includes/toasts/toast_info.html' %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
  {% endif %}
  {% block content %}
  {% endblock %}
  {% include './includes/footer.html' %}
  {% block scripts %}
  {% endblock %}
  <script>
    const toast = new bootstrap.Toast(document.querySelector('.custom-toast'));
    if(toast) {
      toast.show();
    }
  </script>
</body>
</html>