{% extends "base.html" %}
{% load static %}

{% block title %}Order Tracker{% endblock title %}

{% block content %}
<main>
    <div class="container mt-4">
        <h1>Order Tracker</h1>
        <form method="POST" action="{% url 'order_tracker' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="orderNumber" class="form-label">Enter Order Number:</label>
                <input type="text" class="form-control" id="orderNumber" name="order_number" required>
            </div>
            <button type="submit" class="btn btn-custom">Track Order</button>
        </form>
    </div>
</main>
{% endblock content %}