{% extends "base.html" %}
{% load static %}

{% block title %}Pizza{% endblock title %}

{% block content %}
<main>
  <div class="container-fluid p-0">
    <div id="carouselImagePizza" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="carousel-img carousel-img-1">
              <div class="carousel-text text-light p-5">
                <p class="text-center text-light h1">Super Pizza</p>
                <p class="text-center text-light mt-5 h2">Order now and get FREE delivery on all orders over 50 euros!</p>
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="carousel-img carousel-img-2">
              <div class="carousel-text text-light p-5">
                <p class="text-center text-light h1">Super Pizza</p>
                <p class="text-center text-light mt-5 h2">Order now and get FREE delivery on all orders over 50 euros!</p>
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-img carousel-img-3">
              <div class="carousel-text text-light p-5">
                <p class="text-center text-light h1">Super Pizza</p>
                <p class="text-center text-light mt-5 h2">Order now and get FREE delivery on all orders over 50 euros!</p>
              </div>
              <div class="overlay"></div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselImagePizza" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselImagePizza" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container my-2 text-center">
        <h1 class="mt-4 mb-5">Super Pizza</h1>
        
        <div class="container">
          <div class="row mb-5">
            <form class="col col-lg-1 mb-3" id="pizza-filter-form" method="GET" action="{% url 'pizza_list' %}">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-custom" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Filter Pizza
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                  <li>
                    <label class="dropdown-item">
                      <input class="form-check-input pizza-filter" type="checkbox" name="is_spicy" autocomplete="off" {% if form.is_spicy.value %}checked{% endif %}>
                      Spicy
                    </label>
                  </li>
                  <li>
                    <label class="dropdown-item">
                      <input class="form-check-input pizza-filter" type="checkbox" name="is_vegetarian" autocomplete="off" {% if form.is_vegetarian.value %}checked{% endif %}>
                      Vegetarian
                    </label>
                  </li>
                  <li>
                    <label class="dropdown-item">
                      <input class="form-check-input pizza-filter" type="checkbox" name="is_premium" autocomplete="off" {% if form.is_premium.value %}checked{% endif %}>
                      Premium
                    </label>
                  </li>
                  <li>
                    <label class="dropdown-item">
                      <input class="form-check-input pizza-filter" type="checkbox" name="is_seafood" autocomplete="off" {% if form.is_seafood.value %}checked{% endif %}>
                      Seafood
                    </label>
                  </li>
                  <li>
                    <label class="dropdown-item">
                      <input class="form-check-input pizza-filter" type="checkbox" name="is_new" autocomplete="off" {% if form.is_new.value %}checked{% endif %}>
                      New
                    </label>
                  </li>
                </ul>
              </div>
            </form>
            <form class="col-lg-6 offset-lg-5 mb-3" method="GET" action="{% url 'pizza_list' %}">
              <div class="d-flex">
                <input type="text" class="form-control rounded-0 rounded-start custom-input" id="textInput" placeholder="Search for pizza...">
                <button type="submit" class="btn btn-primary btn-custom rounded-0 col-2">Find Pizza</button>
              </div>
            </form>
          </div>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
              <div class="col col-lg-3">
                <div class="card shadow h-100 rounded-top">
                  <a href="" class="text-decoration-none pizza-card-header">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <h2 class="card-title h4 px-4">{{ product.name }}</h2>
                  </a>
                  <div class="card-body py-2 px-4 d-flex flex-column justify-content-between">
                    <p class="card-text">{{ product.description }}</p>
                    <div>
                      <div class="btn-group" role="group" aria-label="Length options">
                        <input type="radio" class="btn-check" name="length-{{ product.slug}}" id="length-30-{{ product.slug }}" value="30" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="length-30-{{ product.slug}}">30cm</label>
                    
                        <input type="radio" class="btn-check" name="length-{{ product.slug}}" id="length-35-{{ product.slug }}" value="35" autocomplete="off">
                        <label class="btn btn-outline-primary" for="length-35-{{ product.slug}}">35cm</label>
                    
                        <input type="radio" class="btn-check" name="length-{{ product.slug}}" id="length-40-{{ product.slug }}" value="40" autocomplete="off">
                        <label class="btn btn-outline-primary" for="length-40-{{ product.slug}}">40cm</label>
                      </div>
                      <p class="card-text text-red m-2">Price: <strong class="price">&euro;{{ product.price}}</strong></p>
                    </div>
                  </div>
                  <div class="card-footer card-footer-cart">
                    <img src="{% static 'svg/cart.svg' %}" alt="cart" class="pizza-list-cart">
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

    </div>
  </div>
</main>
{% endblock content %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('.pizza-filter');
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        document.getElementById('pizza-filter-form').submit();
      });
    });
  });
</script>
{% endblock %}